<div class="side-nav-wrapper" perfecScroll="true">
    <!-- header -->
    <div class="side-nav-header">
        <ng-content select="[sideNavContainerHeader]"></ng-content>
    </div>
    <!-- content -->
    <div class="side-nav-content"
        #navigationContent
    >
        <!-- content header -->
        <div class="side-nav-content-header">
            <ng-content select="[sideNavContentHeader]"></ng-content>
        </div>
        <!-- Items -->
        <ng-container *ngFor="let item of mainNavigation">
            <div *ngIf="item.type === 'group'">
                <h4 class="group-title" (click)="selectMainNavItem(item)">{{item.title}}</h4>
            </div>
        </ng-container>
        <!-- Content Footer -->
    <!-- Footer -->
    </div>
</div>

<!-- Navigation Aside -->
<ng-container *ngIf="activeAsideItem">
    <div 
        class="side-nav-aside-wrapper"
        [@fadeInLeft]="'left'"
        [@fadeOutLeft]="'left'"
    >
        <h2>{{ activeAsideItem.title}}</h2>
        <!-- Items -->
            <!-- Aside -->
            <ng-container *ngFor="let nav of activeAsideItem.children">
                <ng-container *ngIf="!nav.hidden">
                    <ng-container [ngSwitch]="nav.type">
                        <basic-nav-item *ngSwitchCase="'basic'" [item]="nav"></basic-nav-item>
                        <collapsable-nav-item *ngSwitchCase="'collapsable'" [item]="nav" ></collapsable-nav-item>
                        <basic-nav-item *ngSwitchDefault [item]="nav" ></basic-nav-item>
                    </ng-container>
                </ng-container>
            </ng-container>
    </div>
</ng-container>
