.side-nav-wrapper {
    width: 100%;
    height: 100%;
}

.side-nav-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-basis: auto;
    height: 85%;
    width:100%;
}

.nav-item {
    color: white;
    font-size: 14px;
}