<!-- Navigation -->
<!-- this is just temp until I build the real component -->
    <side-navigation *ngIf="spOpen" class="vertical-navigation">
        <!-- [ngStyle]="{ 'display' :(showSidenav$ | async)! ? 'none' : 'flex'}" -->
        <ng-container sideNavContainerHeader>
            <div>
                <!-- site logo -->
                <img>
            </div>
        </ng-container>
    </side-navigation>
<!-- End Navigation -->


<!-- Page Wrapper -->
<div class="content-wrapper">
    <!-- Header -->
    <header class="header">
        <div class="toggle-side-nav" (click)="toggleSideNav()"><mat-icon class="menu-icon" aria-hidden="false" [svgIcon]="'heroicons_outline:bars-3'"></mat-icon></div>
        <nav class="header-widgets-container">
            <div class="widget">widget 1</div>
            <div class="widget">widget 2</div>
            <div class="widget">widget 3</div>
            <div class="user-widget">User Stuff</div>
        </nav>
    </header>
    <!-- End Header -->

    <!-- Content -->
    <ng-content select="[content]"></ng-content>
    <!-- End Content -->
</div>
<!-- End Content Wrapper -->

