:root {
    --vertical-navigation-width: 112px;
}
.vertical-navigation {
    height: 100vh;
    width: var(--vertical-navigation-width);
    display: flex;
    flex-direction: column;
    background: whitesmoke;
}

.content-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    margin-left: 1px;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        height: 8vh;
        max-height: 100px;
        align-items: center;
        background-color: var(--quaternary-color);
        
        .menu-icon {
            margin: 3px;
            height: 38px;
            width:38px;
        }
        .header-widgets-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 30%
        }
    }
}